body {
    background: #fff7e6;
    max-width: 630px;
    margin:auto;
    padding: 10px;
    font-family: Arial;
    font-size: 9pt;
}

.body-content {
    background: #a46c54;
    width: 100%;
    margin-left: 0px;
    margin-bottom: -27px;
}
.bg-content {
    text-align: left;
    padding: 3px;
    background: #eee5cd;
    border: 2px solid #663019;
    padding-top: 3px;
}

a {
    color: #ff7700;
    text-decoration: none;
}


.footer {
    background: url(../images/bg_bottom.png) #a46c54 repeat-x;
    width: 100%;
    height: 72px;
    background-position: center bottom;
   
}

.right_b_bottom {
    margin-top: 1px;
}

.copyright {
    margin:auto;
    text-align: center;
    font-size: 10px;
    margin-top:-75px;
}

tr.menu td,
tr.menu td a {
    color: #ffcf9c;
    text-align: center;
}

tr.menu td,
td#selected {
    width: 16.6%;
    background-color: #9f5424;
}

td#selected a {
    color: #561d00;
}

td#selected {
    background: #E0AD50;
}

.bg_noel {
    height: 47px;
    background: url(../images/bg_bottom.png) ;
    margin-top: -40px;
}

.auth-buttons {
    text-align: center;
}

.auth-btn {

    background-color: #9f5424 ; 
    color: #ffcf9c ;            
    padding: 5px 12px;
    margin: 0 5px;
    border: 2px solid #663019 ;
    font-weight: bold;
    border-radius: 3px;
    font-size: 10pt;
     transition: all 0.2s ease;
}
.auth-btn:hover {
    background-color: #E0AD50 ; 
    color: #561d00 ;            
}
img:hover {
    transform: scale(1.05);
    transition: 0.3s;
    filter: brightness(1.2);
}
.menu td:hover {
    transition: 0.3s;
    filter: brightness(1.5);
}
blockquote {
    background: #fff3de;
    border-left: 4px solid #9f5424;
    padding: 5px 10px;
    margin: 5px 0;
    font-style: italic;
    color: #444;
}
.leaderboard {
    width: 100%;
    font-size: 10pt;
    background-color: #fff3de;
    border: 2px solid #9f5424;
    margin-top: 5px;
}

blockquote:hover {
    transform: scale(1.01);
    filter: brightness(1.05);
    transition: 0.3s
} 
.leaderboard th,
.leaderboard td {
    padding: 6px 10px;
    border-bottom: 1px solid #d8b58b;
}

.leaderboard th {
    background-color: #e0ad50;
    color: #561d00;
    text-align: center;
}

.leaderboard tr:nth-child(2n) {
    background-color: #f8e6cc;
}

.leaderboard tr:hover {
    background-color: #ffe9c4;
    transition: 0.2s;
    filter: brightness(1.05);
}
.faq-section p {
    background-color: #fff8e6;
    padding: 10px;
    margin: 5px 0;
    border-left: 4px solid #9f5424;
    border-radius: 4px;
    font-size: 10pt;
}
.qr:hover {
    transform:scale(8)
}
.falling-leaf {
    position: fixed;
    top: -50px;
    font-size: 24px;
    pointer-events: none;
    animation-name: fall;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 9999;
    opacity: 0.8;
}
.falling-leaf22 {
    position: fixed;
    top: -50px;
    font-size: 24px;
    pointer-events: none;
    animation-name: fall;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    z-index: 9999;
    opacity: 0.8;
}

@keyframes fall {
    0% {
        transform: translate(0, 0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translate(100px, 100vh) rotate(360deg);
        opacity: 0;
    }
}
@keyframes anvideo1 {
    0%, 35% { opacity: 1; }
    40%, 100% { opacity: 0; }
}

@keyframes anvideo2 {
    0%, 35% { opacity: 0; }
    40%, 100% { opacity: 1; }
}
@keyframes ananh1{
    0%,33%{ opacity:1;}
    35%,66% { opacity:0;}
    68%,100% { opacity:0;}
}
@keyframes ananh2{
    0%,33%{ opacity:0;}
    35%,66% { opacity:1;}
    68%,100% { opacity:0;}
}
@keyframes ananh3{
    0%,33%{ opacity:0;}
    35%,66% { opacity:0;}
    68%,100% { opacity:1;}
}
@keyframes anh1 {
    0%,45%{opacity:1;}
    50%,100%{opacity:0;}
}
@keyframes anh2 {
    0%,45%{opacity:0;}
    50%,100%{opacity:1;}
}
#chatbot-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    cursor: pointer;
}

#chatbot-float img {
    border-radius: 50%;
}

#chatbot-float img:hover {
    transform: scale(1.1);
}
.modal {
  position: fixed;
  z-index: 999;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0,0,0,0.6); /* nền mờ */
}

.modal-content {
  background-color: #fff3de;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  width: 80%;
  max-width: 500px;
  animation: slideIn 0.5s ease;
  text-align: center;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  color: #000;
}

@keyframes slideIn {
  from {transform: translateY(-50px); opacity: 0;}
  to {transform: translateY(0); opacity: 1;}
}
/* darkmode */
body.darkmode {
    background: #1e140a;
    color: #f2d8b6;
}

body.darkmode a {
    color: #ffa94d;
}

body.darkmode .body-content {
    background: #4a2a15;
    color: #f3d8b6;
}

body.darkmode .bg-content {
    background: #3c2a1d;
    border-color: #5e3a1f;
    color: #f3dec3;
}

body.darkmode .footer {
    background-color: #4a2a15;
    background-image: url(../images/bg_bottom.png);
    background-repeat: repeat-x;
    background-position: center bottom;
}

body.darkmode .copyright {
    color: #f2d8b6;
}

body.darkmode tr.menu td,
body.darkmode tr.menu td a {
    color: #f3d8b6;
}

body.darkmode tr.menu td,
body.darkmode td#selected {
    background-color: #5b3a23;
}

body.darkmode td#selected a {
    color: #d3a96e;
}

body.darkmode td#selected {
    background: #7a552b;
}

body.darkmode .auth-btn {
    background-color: #3a1e0c;
    color: #f2d8b6;
    border-color: #5e3a1f;
}

body.darkmode .auth-btn:hover {
    background-color: #71441f;
    color: #fdf0dd;
}

body.darkmode blockquote {
    background: #4a2e15;
    border-left-color: #7a552b;
    color: #dbcba1;
}

body.darkmode .leaderboard {
    background-color: #4a2e15;
    border-color: #7a552b;
    color: #dbcba1;
}

body.darkmode .leaderboard th {
    background-color: #7a552b;
    color: #f3dec3;
}

body.darkmode .leaderboard tr:nth-child(2n) {
    background-color: #5b3a23;
}

body.darkmode .leaderboard tr:hover {
    background-color: #6e482b;
    filter: brightness(1);
}

body.darkmode .faq-section p {
    background-color: #3c2a1d;
    border-left-color: #7a552b;
    color: #f3dec3;
}

body.darkmode .modal-content {
    background-color: #4a2a15;
    color: #f3dec3;
}
body.darkmode h2{
    color:#f3dec3 !important;
}
body.darkmode #darkmode{
    color:#f3dec3 !important
}
body.darkmode .sidebarr{
    background-color:  #3c2a1d !important ;
}
body.darkmode #tinhot{
    background-color: #6e482b !important;
}
.dakm {
    background-color: #ffe9c4;
    border: none;
    font-size: 14px;
    padding: 2px 12px;
    border-radius: 12px;
    cursor: pointer;
}
.dakm:hover{
    background-color: #fff7e6;
    transform: scale(1.05);
}
body.darkmode .dakm{
    background-color: #8B4513;
    border: none;
    padding: 2px 12px;
    font-size: 14px;
    border-radius: 12px;
    cursor: pointer;
}
body.darkmode .dakm:hover{
    background-color: #561d00;
    transform: scale(1.05);
}
@keyframes a1{
    0%,25%{opacity: 1;}
    28%,50%{opacity: 0;}
    53%,75%{opacity: 0;}
    78%,100%{opacity:0;}
}
@keyframes a2{
    0%,25%{opacity: 0;}
    28%,50%{opacity: 1;}
    53%,75%{opacity: 0;}
    78%,100%{opacity:0;}
}
@keyframes a3{
    0%,25%{opacity: 0;}
    28%,50%{opacity: 0;}
    53%,75%{opacity: 1;}
    78%,100%{opacity:0;}
}
@keyframes a4{
    0%,25%{opacity: 0;}
    28%,50%{opacity: 0;}
    53%,75%{opacity: 0;}
    78%,100%{opacity:1;}
}